NET "a0" LOC = P51;
NET "a0" IOSTANDARD = LVTTL;
NET "a1" LOC = P41;
NET "a1" IOSTANDARD = LVTTL;
NET "a2" LOC = P35;
NET "a2" IOSTANDARD = LVTTL;
NET "a3" LOC = P33;
NET "a3" IOSTANDARD = LVTTL;
NET "a4" LOC = P30;
NET "a4" IOSTANDARD = LVTTL;
NET "a5" LOC = P27;
NET "a5" IOSTANDARD = LVTTL;
NET "a6" LOC = P24;
NET "a6" IOSTANDARD = LVTTL;
NET "a7" LOC = P22;
NET "a7" IOSTANDARD = LVTTL;
NET "a8" LOC = P17;
NET "a8" IOSTANDARD = LVTTL;
NET "a9" LOC = P15;
NET "a9" IOSTANDARD = LVTTL;
NET "a10" LOC = P12;
NET "a10" IOSTANDARD = LVTTL;
NET "a11" LOC = P10;
NET "a11" IOSTANDARD = LVTTL;
NET "a12" LOC = P8;
NET "a12" IOSTANDARD = LVTTL;
NET "a13" LOC = P6;
NET "a13" IOSTANDARD = LVTTL;
NET "a14" LOC = P2;
NET "a14" IOSTANDARD = LVTTL;
NET "a15" LOC = P144;
NET "a15" IOSTANDARD = LVTTL;
