NET "a0" LOC = P51 | IOSTANDARD = LVTTL;
NET "a1" LOC = P41 | IOSTANDARD = LVTTL;
NET "a2" LOC = P35 | IOSTANDARD = LVTTL;
NET "a3" LOC = P33 | IOSTANDARD = LVTTL;
NET "a4" LOC = P30 | IOSTANDARD = LVTTL;
NET "a5" LOC = P27 | IOSTANDARD = LVTTL;
NET "a6" LOC = P24 | IOSTANDARD = LVTTL;
NET "a7" LOC = P22 | IOSTANDARD = LVTTL;
NET "a8" LOC = P17 | IOSTANDARD = LVTTL;
NET "a9" LOC = P15 | IOSTANDARD = LVTTL;
NET "a10" LOC = P12 | IOSTANDARD = LVTTL;
NET "a11" LOC = P10 | IOSTANDARD = LVTTL;
NET "a12" LOC = P8 | IOSTANDARD = LVTTL;
NET "a13" LOC = P6 | IOSTANDARD = LVTTL;
NET "a14" LOC = P2 | IOSTANDARD = LVTTL;
NET "a15" LOC = P144 | IOSTANDARD = LVTTL;
